.container {
    font-family: "Poppins";
    padding: 1.2rem;
    padding-right: 0;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    height: 80vh;
    width: 100%;
}

.mainContainer_left {
    flex: 1;
    min-width: 0;
}

.mainContainer_right {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;    
    align-items: center;

}

.mainContainer_left > p:nth-child(1) {
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.mainContainer_left > p:nth-child(2) {
    color: #4d4d4d;
    font-size: 1.7rem;
}

.mainContainer_left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: rgb(197, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}

.mainContainer_right img {
    width: 100%;
    max-width: 550px;
    display: block;
    height: auto;
}

@media screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem 1rem;
        height: auto;
    }

    .mainContainer_left {
        width: 100%;
    }

    

    .mainContainer_right {
        width: 100%;
    }

    .mainContainer_right img {
        width: 100%;
    }
}